.page-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid $light-gray;

  small {
    display: block;
    font-size: 11px;
    color: $medium-gray;

    &:last-child {
      margin-top: 1rem;
    }
  }

  &-dev {

    .icon {
      width: 24px;
      height: 12px;
      vertical-align: middle;
      fill: $light-gray;
    }

    span {
      margin-left: 0.3rem;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-right {
    @include breakpoint(medium) {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}
