.page-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  border-top: 1px solid $light-gray;
  background-color: $white;

  @include breakpoint(medium) {
    text-align: left;
  }

  small {
    display: block;
    font-size: 11px;
    color: $medium-gray;

    &:last-child {
      margin-top: 1rem;
    }
  }

  &-dev {
    color: $medium-gray;

    .icon {
      width: 24px;
      height: 12px;
      vertical-align: middle;
      fill: $light-gray;
    }

    span {
      margin-left: 0.3rem;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-right {
    margin-top: 1rem;

    @include breakpoint(medium) {
      margin-top: 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}
