.page-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid $light-gray;

  small {
    display: block;
    font-size: 11px;
    color: $medium-gray;

    &:last-child {
      margin-top: 1rem;
    }
  }

  &-dev {

    .icon {
      width: 24px;
      height: 12px;
      fill: $light-gray;
    }
  }
}
