@mixin main-nav() {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  width: 100%;
  list-style: none;
  border-top: 1px solid $light-gray;
  background-color: transparent;
}

@mixin main-nav-link() {
  display: flex;
  align-items: center;
  min-height: 65px;
  padding-top: 17px;
  padding-bottom: 14px;
  border-bottom: 4px solid $light-gray;
  font-size: 14px;
  color: $black;
}

@mixin main-nav-link-active() {
  color: $orange;
  border-color: $orange;
}

@mixin main-nav-icon() {
  width: 24px;
  height: 24px;
  fill: #666666;
}

@mixin main-nav-text() {
  vertical-align: super;
  color: $black;
  margin-left: 6px;
}

@mixin main-nav-badge() {
  @include badge;
  font-size: 10px;
  color: $white;
  background-color: $orange;
}
