.u-grow-full-height {
  @include breakpoint(medium) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.u-full-height {
  height: 100%;
}


.u-text-disabled .text {
  color: #9b9b9b;
}

.u-text-align-center {
  text-align: center;
}

.u-no-margin-bottom {
  margin-bottom: 0;
}
