// .stretch-free-height {
//   @include breakpoint(medium) {
//     display: flex;
//     flex-direction: column;
//     flex-grow: 1;
//   }
// }

.utils-text-disabled .text {
  color: #9b9b9b;
}

.utils-vertical-align-middle {
  vertical-align: middle;
}

.utils-text-align-center {
  text-align: center;
}
