<div class="card card--table">
  <div class="card-devider">
    Карты
  </div>
  <div class="card-section">
    <div class="card-text">Выберите карту для получения дополнительной информации и управления.</div>
    <hr class="card-separator" />
    <div class="table-scroll">
      <table class="table table--no-border unstriped">
        <tr>
          <td>
            <a href="{{root}}client/account-state/card-info.html" class="text text-card text-card--active">50190801875293810032</a>
          </td>
          <td>
            <span class="text">500 л.</span>
          </td>
          <td>
            <span class="text">действует</span>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{root}}client/account-state/card-info.html" class="text text-card text-card--active">50190801875293810032</a>
          </td>
          <td>
            <span class="text">500 л.</span>
          </td>
          <td>
            <span class="text">действует</span>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{root}}client/account-state/card-info.html" class="text text-card text-card--active">50190801875293810032</a>
          </td>
          <td>
            <span class="text">500 л.</span>
          </td>
          <td>
            <span class="text">действует</span>
          </td>
        </tr>
        <tr>
          <td>
            <a href="{{root}}client/account-state/card-info.html" class="text text-card text-card--blocked">50190801875293810032</a>
          </td>
          <td>
            <span class="text">500 л.</span>
          </td>
          <td>
            <span class="text">действует</span>
          </td>
        </tr>
        <tr class="u-text-disabled">
          <td>
            <a href="{{root}}client/account-state/card-info.html" class="text text-card text-card--arested text--line-through">50190801875293810032</a>
          </td>
          <td>
            <span class="text">500 л.</span>
          </td>
          <td>
            <span class="text">действует</span>
          </td>
        </tr>
        <tr class="u-text-disabled">
          <td>
            <a href="{{root}}client/account-state/card-info.html" class="text text-card text-card--arested text--line-through">50190801875293810032</a>
          </td>
          <td>
            <span class="text">500 л.</span>
          </td>
          <td>
            <span class="text">действует</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
