<div class="card card--table">
  <div class="card-devider">
    Договоры
  </div>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table table--no-border unstriped">
        <tr>
          <td>
            <span class="text text--light">Номер договора</span>
          </td>
          <td>
            <span class="text text--size-md">НК21/1 - 592</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text text--light">Дата заключения</span>
          </td>
          <td>
            <span class="text text--size-md">12.02.2013</span>
          </td>
        </tr>
      </table>
    </div>
    <hr class="card-separator" />
    <div class="table-scroll">
      <table class="table table--no-border unstriped">
        <tr>
          <td>
            <span class="text text--light">Номер договора</span>
          </td>
          <td>
            <span class="text text--size-md">НК21/1 - 782</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="text text--light">Дата заключения</span>
          </td>
          <td>
            <span class="text text--size-md">26.04.2015</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
