<div class="card card--table">
  <div class="card-devider">
    Установленные лимиты
  </div>
  <div class="card-section">
    <table class="table table--no-border unstriped">
      <tr>
        <td>
          <span class="text text--light">Уведомление</span>
        </td>
        <td>
          <span class="text text--size-md text--currency">30 000</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text text--light">Блокировка</span>
        </td>
        <td>
          <span class="text text--size-md text--currency">1 000</span>
        </td>
      </tr>
    </table>
  </div>
</div>
