.tabs {

  &--main-nav {
    position: relative;
    display: none;
    background-color: transparent;

    @include breakpoint(medium) {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: $light-gray;
    }

    .icon {
      @include main-nav-icon();
    }
  }

  &-link {

    .tabs--main-nav & {
      outline: none;

      @include main-nav-link();

      @include hover() {
        @include main-nav-link-active();
      }

      @include active() {
        @include main-nav-link-active();
      }

      @include focus() {
        @include main-nav-link-active();
      }
    }

    .tabs--main-nav .tabs-title.is-active & {
      background-color: transparent;
      @include main-nav-link-active();
    }
  }

  &-text {

    .tabs--main-nav & {
      @include main-nav-text();
    }
  }

  &-badge {

    .tabs--main-nav & {
      @include main-nav-badge();
    }
  }
}
