.table {

  &--invoice {
    width: 100%;

    td {
      display: block;
    }

    @include breakpoint(small) {
      width: 100%;
    }

    @include breakpoint(medium) {
      width: 60%;

      td {
        display: table-cell;
      }
    }
  }

  &--left-full-width {
    td:first-child {
      width: 100%;
    }
  }

  &--left-half-width {
    td:first-child {
      width: 50%;
    }
  }

  &--cells-vertical-middle {
    td {
      vertical-align: middle !important;
    }
  }

  &--distribution {
    margin-bottom: 1.5rem;

    thead {
      background: none;
      border: none;
    }

    tbody {
      border-top-color: $light-gray;
      border-left: none;
      border-right: none;
    }

    tr {
      border-bottom: 1px solid $light-gray !important;
    }

    td:last-child {
      width: 10%;
      text-align: right;
    }

    td:nth-child(2) {
      width: 20%;
      text-align: right;
    }
  }

  &--logs {

    thead {
      background: none;
      border: none;
    }

    tbody {
      border-top-color: $light-gray;
      border-left: none;
      border-right: none;

      td {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
      }
    }

    tr {
      border-color: $light-gray !important;
    }

    td:first-child {
      width: 50px;
    }

    td:nth-child(2) {
      width: 10%;
    }

    td:nth-child(3) {
      width: 9%;
    }

    td:last-child {
      width: 65px;
      text-align: right;
    }
  }

  &--clients {
    thead {
      background: none;
      border: none;
    }

    tbody {
      border-top-color: $light-gray;
      border-left: none;
      border-right: none;
    }

    tr {
      border-color: $light-gray !important;
    }

    td,
    th {
      font-weight: 400;
    }

    td:first-child {
      width: 35%;
    }

    td {
      padding-top: 1.1rem;
      padding-bottom: 1.1rem;
    }

    td:last-child {
      padding-right: 2rem;
    }

    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7) {
      width: 1px;
    }
  }

  &--print {
    width: auto;

    caption {
      padding-left: 0;
      padding-right: 0;
      font-size: 11px;
      font-weight: 400;
      text-align: left;
    }

    thead {
      background-color: #dfdfdf;
    }

    thead td,
    thead th,
    tbody td,
    tfoot td {
      font-size: 11px;
      font-weight: 400;
      color: $black;
    }

    thead td,
    thead th,
    tbody td {
      padding: 0.3rem;
      border: 1px solid darken($light-gray, 10%);
    }

    thead th {
      text-align: center;
    }

    tfoot {
      border: none;
      background-color: transparent;
    }

    tfoot td {
      padding: 0;
    }
  }

  &--no-border {
    border: none;

    thead,
    tbody,
    tr,
    td {
      border: none !important;
    }
  }

  &--no-cells-padding-bottom {

    td {
      padding-bottom: 0;
    }
  }

  &--no-cells-padding-horizontal {

    td {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--devider {
    margin-top: 1rem;
    padding-top: 1rem;
    border: 1px solid $light-gray;
  }

  &.table--prise-list {
    border: none;

    thead {
      background: none;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom-color: $light-gray;

      td {
        padding-top: 0;
        padding-left: 1rem;
        padding-bottom: 0.6rem;
      }
    }

    tbody {
      border-left: none;
      border-right: none;
    }

    tr {
      border-bottom: 1px solid $light-gray;
    }

    th, td {
      padding: 0.9rem 1.525rem 0.9rem;
    }

    td:first-child {
      width: 100%;
    }

    td:last-child {
      padding-right: 3.7rem;
      padding-left: 0.5rem;
    }
  }

  &--statement {
    @extend .table--left-full-width;
    @extend .table--no-border;
    @extend .table--cells-vertical-middle;

    td:nth-child(2) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  thead {
    tr {
      background: transparent;
    }

    td,
    th {
      font-weight: 400;
      white-space: nowrap;
    }
  }

  tfoot {

    td {
      font-weight: 400;
    }
  }

  td {
    font-size: 13px;
    color: $black;
    vertical-align: top;
  }
}

.table-scroll {
  overflow-x: auto;

  .table {
    white-space: nowrap;
  }
}
