.button {
  padding: 1em;
  outline: none;
  font-size: 13px;
  font-weight: 500;

  &.clear {
    padding: 0;
  }

  &--wide {
    width: 220px
  }

  &--update {
    position: relative;
    padding: 0.55em 0.6em;
    padding-left: 2.7em;
    color: $black;
    font-weight: 500;
    background-color: $light-gray !important;
    text-shadow: none;
    border-radius: 0.4em;
    transition: none;

    @include hover {
      background-color: darken($light-gray, 5%);
    }

    @include active {
      background-color: darken($light-gray, 5%);
    }

    @include focus {
      background-color: darken($light-gray, 5%);
    }

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      width: 16px;
      height: 16px;
      background-color: red;
    }

    &.is-active::before {
      transform-origin: 50% 50%;
      animation-name: rotate;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }

  &--icon {

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      background-repeat: no-repeat;

      @include hover() {
        opacity: 0.7;
      }
    }

    span {
      padding-left: 1rem;
    }
  }

  &--attach-file {

    &::before {
      width: 18px;
      height: 23px;
      background-image: url("attach-file");
    }
  }

  &--download,
  &--print {
    margin-bottom: 0;

    &::before {
      width: 24px;
      height: 24px;
    }
  }

  &--download {

    &::before {
      background-image: url("download");
    }
  }

  &--print {
    margin-left: 1.5rem;

    &::before {
      background-image: url("print");
    }
  }

  span {
    vertical-align: middle;
  }
}
