.news-post {
  margin-bottom: 1.4rem;
  padding-top: 1.2rem;

  &-title {
    font-size: 13px;
    font-weight: 700;
    color: $black;
  }

  p {
    margin-bottom: 0.5rem;
    font-size: 13px;
    color: $medium-gray;
  }

  & + & {
    border-top: 1px solid $light-gray;
  }
}
