.login-form {
  width: 100%;
  max-width: 580px;
  margin-top: 10rem;
  margin-right: auto;
  margin-left: auto;
  padding: 23px 28px 38px 24px;
  background-color: $white;
  border-radius: $global-radius;
  border: 1px solid $light-gray;
  box-shadow: 0 8px 20px 0 rgba($black, 0.15);

  &-header {
    margin-bottom: 2.3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $light-gray;
    text-align: center;
  }

  &-main {
    width: 100%;
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  &-text {
    margin-top: -1rem;
  }

  &-submit {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: block;
    width: 220px;

    &--recovery {
      margin-top: 2.5rem;
    }
  }
}
