.icon {
  display: inline-block;

  &--download {
    width: 20px;
    height: 20px;
  }

  &--search {
    width: 20px;
    height: 20px;
  }
}

button {
  position: relative;
  display: block;
border: 1px solid green;
  width: 24px;
  height: 24px;
}
