.card {
  $card-padding: 0.8rem;

  margin-bottom: 1rem;
  border-radius: 0.3rem;

  @include breakpoint(medium) {
    margin-bottom: 1.7rem;
  }

  &--shadow {
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: 0 8px 20px 0 rgba($black, 0.15);
  }

  &--content-center {
    align-items: center;
    justify-content: center;
  }

  &-devider {
    padding-top: 0.5rem;
    padding-left: $card-padding;
    padding-bottom: 0.6rem;
    font-size: 16px;
    font-weight: 500;
    color: $black;
    background: $light-gray;
  }

  &-section {

    padding-left: $card-padding;
    padding-right: $card-padding;

    .card--table & {
      padding-top: 1.2rem;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0.7rem;
    }
  }

  &-text {

    .card--table & {
      margin: $table-padding;
    }
  }

  &-separator {
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $light-gray;

    .card--table & {
      margin: $table-padding;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }
}
