.page {
  &--user-panel-opened {
    overflow: hidden;

    body {
      position: fixed;
    }
  }

  &__inner {
    @include breakpoint(medium) {
      .page:not(.ie) & {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }
}
