.link {
  font-size: 13px;
  color: $orange;

  @include hover {
    color: lighten($orange, 15%);
  }

  @include active {
    color: lighten($orange, 15%);
  }

  @include focus {
    color: lighten($orange, 15%);
  }

  &--arrow {

    &::after {
      content: "➝";
      position: relative;
      top: 0;
      left: 5px;
    }
  }

  &--attach-file {
    position: relative;
    padding-left: 2.5rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 18px;
      height: 23px;
      display: inline-block;
      background-image: url("attach-file");
      background-repeat: no-repeat;
    }
  }

  &--secondary-color {
    $color: $medium-gray;
  }
}
