.input-group {

  &--inline {
    display: inline-flex;
    width: auto;
  }

  &--no-margin {
    margin-bottom: 0;
  }

  &-field {

    .input-group--currency & {
      width: 80px;
      font-size: 15px;
      color: $black;
      text-align: right;
    }

    .input-group--currency.input-group--secondary & {
      width: 40px;
    }

    .input-group--size-sm & {
      padding: 0.25rem;
      width: 60px;
      height: 2rem;
      font-size: 13px;
    }
  }

  &--currency + &--size-sm {

    input {
      width: 55px;
      height: 2rem;
    }
  }

  &-label {
    padding: 0;
    padding-left: 0.5rem;
    font-size: 15px;
    color: #9b9b9b;
    border: 0;
    background: none;
  }
}
