.input {
  margin-bottom: 1rem;
  display: inline-block;

  &--text-size-md {
    font-size: 15px;
    color: $black;
  }

  &--text-align-right {
    text-align: right;
  }

  &--width-100 {
    width: 100px;
    min-width: 100px;
  }

  &--width-80 {
    width: 80px;
    min-width: 80px;
  }

  &--width-60 {
    width: 60px;
    min-width: 60px;
  }

  &--width-40 {
    width: 40px;
    min-width: 40px;
  }

  &--no-margin-bottom {
    margin-bottom: 0;
  }

  &--datepicker {
    // width: 130px;
    font-size: 15px;
    color: $black;
    background-image: url("date");
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) 50%;
  }
}
