.input {
  margin-bottom: 1rem;
  display: inline-block;

  &--text-size-md {
    font-size: 15px;
    color: $black;
  }

  &--text-align-right {
    text-align: right;
  }

  &--width-100 {
    width: 100px;
  }

  &--no-margin-bottom {
    margin-bottom: 0;
  }
}
