.page-header {
  border: 1px solid red;

  &-logo {
    position: relative;
    display: inline-block;

    color: green;

    &::before
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 40px;
      background-color: $light-gray;
    }
  }

  &-logo svg {
    width: 100px;
    height: 40px;
  }
}
