.page-header {
  border-bottom: 1px solid $light-gray;

  &-inner {
    min-height: 80px;
    padding: 0;
  }

  &-left-bar {
    display: flex;
    align-items: center;

    @include breakpoint(medium) {
      display: block;
    }
  }

  &-burger {
    position: relative;
    margin-left: auto;
    width: 18px;
    height: 18px;
    cursor: pointer;

    @include breakpoint(medium) {
      display: none;
    }

    span {
      position: relative;
      width: 18px;
      height: 2px;
      display: inline-block;
      background-color: $black;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: $black;
      }

      &::before {
        top: -5px;
      }

      &::after {
        top: 5px;
      }
    }
  }
}
