<div class="tabs-panel-header">
  <div class="grid-x">
    <div class="cell medium-6 tabs-panel-header-left">
      <span class="text">Текущее состояние вашего счета и карт.</span>
    </div>
    <div class="cell medium-6 tabs-panel-header-right">
      <span class="text">Актуальность данных</span>
      <button href="#" class="button button--update is-active">24.04.2019, 18:32</button>
    </div>
  </div>
</div>
<div class="tabs-panel-main">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <div class="card card--table">
        <div class="card-devider">
          Счет
        </div>
        <div class="card-section">
          <table class="table table--no-border unstriped">
            <tr>
              <td>Остаток на счете</td>
              <td>
                <span class="text text--currency text--size-md">1 253 456</span>
              </td>
            </tr>
            <tr>
              <td>Состояние счета</td>
              <td>
                <span class="text text--icon text-status text-status--active">активен</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="link link--arrow" >Пополнить счет</a>
              </td>
              <td>
                <a href="#" class="link link--arrow" >Распределить средства</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="cell medium-6 stretch-free-height">
      <div class="card card--table">
        <div class="card-devider">
          Установленные лимиты
        </div>
        <div class="card-section">
          <table class="table table--no-border unstriped">
            <tr>
              <td>
                Уведомление
              </td>
              <td>
                <span class="text text--size-md text--currency">30 000</span>
              </td>
            </tr>
            <tr>
              <td>Блокировка</td>
              <td>
                <span class="text text--size-md text--currency">1 000</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <div class="card card--table">
        <div class="card-devider">
          Карты
        </div>
        <div class="card-section">
          <div class="card-text">Выберите карту для получения дополнительной информации и управления.</div>
          <hr class="card-separator" />
          <table class="table table--no-border unstriped">
            <tr>
              <td>
                <span class="text text--icon text-card text-card--active">50190801875293810032</span>
              </td>
              <td>
                <span class="text">500 л.</span>
              </td>
              <td>
                <span class="text">действует</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text text--icon text-card text-card--active">50190801875293810032</span>
              </td>
              <td>
                <span class="text">500 л.</span>
              </td>
              <td>
                <span class="text">действует</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text text--icon text-card text-card--active">50190801875293810032</span>
              </td>
              <td>
                <span class="text">500 л.</span>
              </td>
              <td>
                <span class="text">действует</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text text--icon text-card text-card--blocked">50190801875293810032</span>
              </td>
              <td>
                <span class="text">500 л.</span>
              </td>
              <td>
                <span class="text">действует</span>
              </td>
            </tr>
            <tr class="utils-text-disabled">
              <td>
                <span class="text text--icon text-card text-card--arested">50190801875293810032</span>
              </td>
              <td>
                <span class="text">500 л.</span>
              </td>
              <td>
                <span class="text">действует</span>
              </td>
            </tr>
            <tr class="utils-text-disabled">
              <td>
                <span class="text text--icon text-card text-card--arested">50190801875293810032</span>
              </td>
              <td>
                <span class="text">500 л.</span>
              </td>
              <td>
                <span class="text">действует</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="cell medium-6">
      <div class="card card--table">
        <div class="card-devider">
          Договоры
        </div>
        <div class="card-section">
          <table class="table table--no-border unstriped">
            <tr>
              <td>
                <span class="text">Номер договора</span>
              </td>
              <td>
                <span class="text text--size-md">НК21/1 - 592</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">Дата заключения</span>
              </td>
              <td>
                <span class="text text--size-md">12.02.2013</span>
              </td>
            </tr>
          </table>
          <hr class="card-separator" />
          <table class="table table--no-border unstriped">
            <tr>
              <td>
                <span class="text">Номер договора</span>
              </td>
              <td>
                <span class="text text--size-md">НК21/1 - 782</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">Дата заключения</span>
              </td>
              <td>
                <span class="text text--size-md">26.04.2015</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
