<div class="tabs-panel-header">
  <div class="grid-x">
    <div class="cell medium-6 tabs-panel-header-left">
      <span class="text text--sub">Текущее состояние вашего счета и карт.</span>
    </div>
    <div class="cell medium-6 tabs-panel-header-right">
      <span class="text">Актуальность данных</span>
      <span class="label label--update">24.04.2019, 18:32</span>
    </div>
  </div>
</div>
<div class="tabs-panel-main">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <div class="card card--table">
        <div class="card-devider">
          Счет
        </div>
        <div class="card-section">
          <table class="table table--no-border unstriped">
            <tr>
              <td>
                <span class="text text--light">Остаток на счете</span>
              </td>
              <td>
                <span class="text text--currency text--size-md">1 253 456</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text text--light">Состояние счета</span>
                </td>
              <td>
                <span class="text text--icon text-status text-status--active">активен</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="link link--arrow" >Пополнить счет</a>
              </td>
              <td>
                <a href="#" class="link link--arrow" >Распределить средства</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="cell medium-6 stretch-free-height">
      <!-- partials/cards/limits -->
      {{> limits }}
    </div>
  </div>
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <!-- partials/cards/limits -->
      {{> cards }}
    </div>
    <div class="cell medium-6">
      <!-- partials/cards/contracts -->
      {{> contracts }}
    </div>
  </div>
</div>
