<div class="tabs-panel-header">
  <div class="grid-x">
    <div class="cell medium-6 tabs-panel-header-left">
      <span class="text text--sub">Карта № 50190801875293810032</span>
    </div>
    <div class="cell medium-6 tabs-panel-header-right">
      <span class="text">Актуальность данных</span>
      <span class="label label--update">24.04.2019, 18:32</span>
    </div>
  </div>
</div>
<form action="#" class="tabs-panel-main">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <div class="card card--table">
        <div class="card-devider">
          Информация по карте
        </div>
        <div class="card-section">
          <table class="table table--no-border table--left-full-width table--cells-vertical-middle unstriped ">
            <tr>
              <td>
                <span class="text">Состояние</span>
              </td>
              <td>
                <span class="text text--icon text-card text-card--active">действует</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">Договор</span>
              </td>
              <td>
                <span class="text">НК21/1 - 592 от 12.02.2013</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">Тип лимита</span>
              </td>
              <td>
                <span class="text">Суточный</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text text--align-sub">Лимит</span>
              </td>
              <td>
                <input class="input input--no-margin-bottom" type="text" name="limit">
              </td>
              <td>
                <span class="text text--align-sub text--no-wrap">л / сутки</span>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <span class="text text--light">В Личном Кабинете возможно только уменьшение суточного лимита.</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="#" class="link link--arrow" >Арестовать карту</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card card--table">
        <div class="card-devider">
          Информация по карта (вариант 2)
        </div>
        <div class="card-section">
          <table class="table table--no-border table--left-full-width table--cells-vertical-middle unstriped">
            <tr>
              <td>
                <span class="text">Состояние</span>
              </td>
              <td>
                <span class="text text--icon text-card text-card--active">действует</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">Договор</span>
              </td>
              <td>
                <span class="text">НК21/1 - 592 от 12.02.2013</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">Тип лимита</span>
              </td>
              <td>
                <span class="text">Месячный</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text text--align-sub">Лимит</span>
              </td>
              <td>
                <input class="input input--no-margin-bottom" type="text" name="limit" value="2000">
              </td>
              <td>
                  <span class="text text--align-sub text--no-wrap">л / сутки</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <a href="#" class="link link--arrow" >Арестовать карту</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="cell medium-6">
      <div class="card card--table">
        <div class="card-devider">
          Доступные виды топлива
        </div>
        <div class="card-section">
          <table class="table table--no-border table--no-cells-padding-bottom unstriped">
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--regular text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--ge text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--regular text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--ge text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--regular text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--ge text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--regular text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--ge text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--regular text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--ge text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--regular text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="oil-type" />
                  <i class="checkbox-indicator"></i>
                  <span class="text-oil text-oil--ge text-oil--checkbox">Бензин Супер - 98 Green Eco</span>
                </label>
              </td>
            </tr>
            <tr>
              <td>
                <button type="submit" class="button secondary">Отправить</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
