<div class="tabs-panel-header">
  <div class="grid-x">
    <div class="cell medium-12 tabs-panel-header-right">
      <span class="text text--light">Показать записи за период с</span>
      <input type="text" class="input" name="firstDate" id="firstDate">
      <span class="text text--light">по</span>
      <input type="text" class="input" name="lastDate" id="lastDate">
      <span class="text text--light">с типом</span>
      <select name="event" id="selectEvent" class="select select--no-margin-bottom">
        <option value="any">Любое событие</option>
        <option value="any">Любое событие</option>
        <option value="any">Любое событие</option>
        <option value="any">Любое событие</option>
      </select>
    </div>
  </div>
</div>
<div class="tabs-panel-main">
  <div class="grid-x">
    <div class="cell">
      <table class="table table--logs">
        <thead>
          <tr>
            <td>
              <span class="text text--light">Тип</span>
            </td>
            <td>
              <span class="text text--light">Дата</span>
            </td>
            <td>
              <span class="text text--light">Время</span>
            </td>
            <td>
              <span class="text text--light">Событие</span>
            </td>
            <td>
              <span class="text text--light">Результат</span>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">Авторизация в системе.</span>
            </td>
            <td>
              <span class="text-result text-result--success">OK</span>
            </td>
          </tr>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">Выход из Системы.</span>
            </td>
            <td>
              <span class="text-result text-result--success">OK</span>
            </td>
          </tr>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">Отправка сообщения. Кому: Менеджер ОБР - Анастасия. Сообщение: "Хорошо я поняла. Спасибо"</span>
            </td>
            <td>
              <span class="text-result text-result--success">OK</span>
            </td>
          </tr>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">Отправка сообщения. Кому: Менеджер ОБР - Анастасия. Сообщение: "Как мне получить выписку за февраль прошлого года?"</span>
            </td>
            <td>
              <span class="text-result text-result--success">OK</span>
            </td>
          </tr>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">Установка лимита топлива для карты 50190801875293810032.</span>
            </td>
            <td>
              <span class="text-result text-result--success">OK</span>
            </td>
          </tr>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">АОтправка сообщения. Кому: Менеджер ОБР - Анастасия. Сообщение: "Добрый день."</span>
            </td>
            <td>
              <span class="text-result text-result--success">OK</span>
            </td>
          </tr>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">Загрузка выписки по счету "1 - 30 марта 2019 г." в формате ZIP</span>
            </td>
            <td>
              <span class="text-result text-result--error">ошибка</span>
            </td>
          </tr>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">Просмотр выписки по карте "1 - 28 февраля 2019 г."</span>
            </td>
            <td>
              <span class="text-result text-result--success">OK</span>
            </td>
          </tr>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">Авторизация в системе.</span>
            </td>
            <td>
              <span class="text-result text-result--success">OK</span>
            </td>
          </tr>
          <tr>
            <td class="utils-text-align-center">
              <span class="text-status text-status--active text--align-super"></span>
            </td>
            <td>
              <time datetime="24.04.2019" class="text">24.04.2019</time>
            </td>
            <td>
              <time datetime="10:32" class="text">10:32</time>
            </td>
            <td>
              <span class="text">Выход из Системы.</span>
            </td>
            <td>
              <span class="text-result text-result--error">ошибка</span>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- partials/pagination/pagination -->
      {{> pagination }}
    </div>
  <div>
</div>
</div>
