<div class="tabs-panel-header">
  <div class="grid-x">
    <div class="cell large-6">
      <span class="text">Индивидуальные цены на нефтепродукты для вашего Предприятия.</span>
    </div>
    <div class="cell large-6">
      <span class="text">Актуальность данных</span>
      <a href="#" class="button">24.04.2019, 18:32</a>
    </div>
  </div>
</div>
<div class="tabs-panel-main">
  <table>
    <thead>
      <tr>
        <td>Вид топлива</td>
        <td></td>
        <td>Цена</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <i class="icon">icon</i>
        </td>
        <td>
          <span class="text">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon">icon</i>
        </td>
        <td>
          <span class="text">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon">icon</i>
        </td>
        <td>
          <span class="text">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon">icon</i>
        </td>
        <td>
          <span class="text">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon">icon</i>
        </td>
        <td>
          <span class="text">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon">icon</i>
        </td>
        <td>
          <span class="text">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <i class="icon">icon</i>
        </td>
        <td>
          <span class="text">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text">36.20</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
