<div class="tabs-panel-header">
  <div class="grid-x">
    <div class="cell large-7 tabs-panel-header-left">
      <span class="text">Индивидуальные цены на нефтепродукты для вашего Предприятия.</span>
    </div>
    <div class="cell large-5 tabs-panel-header-right">
      <span class="text">Актуальность данных</span>
      <button href="#" class="button button--update is-active">24.04.2019, 18:32</button>
    </div>
  </div>
</div>
<div class="tabs-panel-main">
  <table class="table table--prise-list">
    <thead>
      <tr>
        <td>Вид топлива</td>
        <td>Цена</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="text text--icon text--oil text--ge">
            Бензин автомобильный марки Премиум Евро-95 К5 GreenEco
          </div>
        </td>
        <td>
          <span class="text text--currency">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text text--icon text--oil text--regular">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text text--currency">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text text--icon text--oil text--ge">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text text--currency">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text text--icon text--oil text--ge">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text text--currency">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text text--icon text--oil text--ge">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text text--currency">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text text--icon text--oil text--ge">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text text--currency">36.20</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text text--icon text--oil text--ge">Бензин автомобильный марки Премиум Евро-95 К5 GreenEco</span>
        </td>
        <td>
          <span class="text text--currency">36.20</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
