<div class="tabs-panel-header">
  <div class="grid-x">
    <div class="cell medium-6 tabs-panel-header-left">
      <span class="text text--size-md text--bolder">Распределение средств</span>
    </div>
    <div class="cell medium-6 tabs-panel-header-right tabs-panel-header-right--space-between">
      <span class="text">Остаток на счете</span>
      <span class="text text--currency text--size-md">16 456</span>
      <span class="text">Нераспределено</span>
      <span class="text text--currency text--size-md">5 806</span>
    </div>
  </div>
</div>
<div class="tabs-panel-main">
  <table class="table table--cells-vertical-middle">
    <thead>
      <tr>
        <td>Карта</td>
        <td>Текущий баланс карты</td>
        <td>Распределение</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="text-card text-card--active">50190801875293810032</span>
        </td>
        <td>
          <span class="text text--currency">16 456</span>
        </td>
        <td>
          <div class="input-group input-group--inline input-group--no-margin input-group--currency input-group--size-sm">
            <input type="text" name="sum" class="input-group-field" value="10 000">
            <span class="input-group-label">₽</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text-card text-card--active">50190801875293810032</span>
        </td>
        <td>
          <span class="text text--currency">16 456</span>
        </td>
        <td>
          <div class="input-group input-group--inline input-group--no-margin input-group--currency input-group--size-sm">
            <input type="text" name="sum" class="input-group-field" value="10 000">
            <span class="input-group-label">₽</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text-card text-card--active">50190801875293810032</span>
        </td>
        <td>
          <span class="text text--currency">16 456</span>
        </td>
        <td>
          <div class="input-group input-group--inline input-group--no-margin input-group--currency input-group--size-sm">
            <input type="text" name="sum" class="input-group-field" value="10 000">
            <span class="input-group-label">₽</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text-card text-card--active">50190801875293810032</span>
        </td>
        <td>
          <span class="text text--currency">16 456</span>
        </td>
        <td>
          <div class="input-group input-group--inline input-group--no-margin input-group--currency input-group--size-sm">
            <input type="text" name="sum" class="input-group-field" value="10 000">
            <span class="input-group-label">₽</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text-card text-card--active">50190801875293810032</span>
        </td>
        <td>
          <span class="text text--currency">16 456</span>
        </td>
        <td>
          <div class="input-group input-group--inline input-group--no-margin input-group--currency input-group--size-sm">
            <input type="text" name="sum" class="input-group-field" value="10 000">
            <span class="input-group-label">₽</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text-card text-card--active">50190801875293810032</span>
        </td>
        <td>
          <span class="text text--currency">16 456</span>
        </td>
        <td>
          <div class="input-group input-group--inline input-group--no-margin input-group--currency input-group--size-sm">
            <input type="text" name="sum" class="input-group-field" value="10 000">
            <span class="input-group-label">₽</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="text-card text-card--active">50190801875293810032</span>
        </td>
        <td>
          <span class="text text--currency">16 456</span>
        </td>
        <td>
          <div class="input-group input-group--inline input-group--no-margin input-group--currency input-group--size-sm">
            <input type="text" name="sum" class="input-group-field" value="10 000">
            <span class="input-group-label">₽</span>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td>
        <span class="text">Нерапределенный остаток</span>
      </td>
      <td>

      </td>
      <td>
        <div class="input-group input-group--inline input-group--no-margin input-group--currency input-group--size-sm">
          <input type="text" name="sum" class="input-group-field" value="10 000">
          <span class="input-group-label">₽</span>
        </div>
      </td>
    </tfoot>
  </table>
  <button type="submit" class="button secondary">Распределить средтсва</button>
  <p class="text text--light">Распределение средств по картам происходит в течение суток после отправки запроса.</p>
</div>
