<ul class="main-nav-list">
  <li class="main-nav-item is-active">
    <a href="{{root}}client/account-state.html" class="main-nav-link">
      {{{ icon name="account-state" }}}
      <span class="main-nav-text">Состояние счета</span>
    </a>
  </li>
  <li class="main-nav-item ">
    <a href="{{root}}client/statements.html" class="main-nav-link">
      {{{ icon name="statements" }}}
      <span class="main-nav-text">Выписки</span>
    </a>
  </li>
  <li class="main-nav-item ">
    <a href="{{root}}client/price-list.html" class="main-nav-link">
      {{{ icon name="cost" }}}
      <span class="main-nav-text">Стоимость</span>
    </a>
  </li>
  <li class="main-nav-item ">
    <a href="{{root}}client/messages.html" class="main-nav-link">
      <span class="badge" id="messageCount">1</span>
      <span class="main-nav-text">Сообщения</span>
    </a>
  </li>
</ul>
