<form action="#" class="chat">
  <div class="chat-main-content">
    <div class="chat-scroller">
      <div class="chat-section">
        <span class="chat-section-title">Сегодня, 28.04.2019</span>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <img src= "assets/img/media-object/avatar-1.jpg">
            </div>
          </div>
          <div class="media-object-section">
            <h4>ООО "Золотой Дракон"</h4>
            <p>Здравствуйте! У меня вопрос…</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <img src= "assets/img/media-object/avatar-1.jpg">
            </div>
          </div>
          <div class="media-object-section">
            <h4>Анастасия, ОБР</h4>
            <p>Добрый день! Я вас слушаю.</p>
          </div>
        </div>
        <div class="media-object">
          <div class="media-object-section">
            <div class="thumbnail">
              <img src= "assets/img/media-object/avatar-1.jpg">
            </div>
          </div>
          <div class="media-object-section">
            <h4>ООО "Золотой Дракон"</h4>
            <p>Мы бы хотели для одной из наших карт изменить виды топлива.</p>
            <p>Но я не могу найти, где это сделать на сайте :^(</p>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-track">
      <div class="chat-free">
        <div class="chat-bar"></div>
      </div>
    </div>
  </div>
  <textarea class="chat-message-field" name="message" rows="4" cols="40"></textarea>
  <div class="chat-footer">
    <button class="button">Прикрепить файл</button>
    <button type="submit" class="button">Отправить</button>
  </div>
</form>
