<form action="#" class="chat stretch-free-height">
  <div class="chat-main-content stretch-free-height" id="main-chat">
    <div class="chat-scroller stretch-free-height">
      <div class="chat-section">
        <span class="chat-section-title">Сегодня, 28.04.2019</span>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-user-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>ООО "Золотой Дракон"</h4>
              <time datetime="15.10.2018 9:21">9:21</time>
            </div>
            <p>Здравствуйте! У меня вопрос…</p>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-manager-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>Анастасия, ОБР</h4>
              <time datetime="15.10.2018 9:21">9:23</time>
            </div>
            <p>Добрый день! Я вас слушаю.</p>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-user-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>ООО "Золотой Дракон"</h4>
              <time datetime="15.10.2018 9:21">9:26</time>
            </div>
            <p>Мы бы хотели для одной из наших карт изменить виды топлива.</p>
            <p>Но я не могу найти, где это сделать на сайте :^(</p>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-manager-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>Анастасия, ОБР</h4>
              <time datetime="15.10.2018 9:21">9:23</time>
            </div>
            <p>Вам необходимо перейти в раздел "Состояние Счета" и выбрать из списка интересующую вас карту. На открывшейся странице,
              вы можете отметить "галочками" виды топлива, которые нужно закрепить за данной картой.
            </p>
            <p>После этого нам будет отправлена заявка на изменение видов топлива.</p>
            <p>Заявки выполняются в течение 24 часов с момента поступления (в рабочие дни).</p>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-user-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>ООО "Золотой Дракон"</h4>
              <time datetime="15.10.2018 9:21">9:26</time>
            </div>
            <p>Заявку на бланке организации прикрепляю. Все верно?</p>
            <a href="#" class="link link--attached-file">Заявка на ГСМ Золтой Дракон (подписано).pdf</a>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-manager-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>Анастасия, ОБР</h4>
              <time datetime="15.10.2018 9:21">9:23</time>
            </div>
            <p>Вам необходимо сделать заявку через раздел "Состояние счета".</p>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-user-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>ООО "Золотой Дракон"</h4>
              <time datetime="15.10.2018 9:21">19:07</time>
            </div>
            <p>Большое спасибо, все получилось!</p>
          </div>
        </div>
      </div>
      <div class="chat-section">
        <span class="chat-section-title">Сегодня, 28.04.2019</span>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-user-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>ООО "Золотой Дракон"</h4>
              <time datetime="15.10.2018 9:21">9:21</time>
            </div>
            <p>Здравствуйте! У меня вопрос…</p>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-manager-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>Анастасия, ОБР</h4>
              <time datetime="15.10.2018 9:21">9:23</time>
            </div>
            <p>Добрый день! Я вас слушаю.</p>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-user-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>ООО "Золотой Дракон"</h4>
              <time datetime="15.10.2018 9:21">9:26</time>
            </div>
            <p>Мы бы хотели для одной из наших карт изменить виды топлива.</p>
            <p>Но я не могу найти, где это сделать на сайте :^(</p>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-manager-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>Анастасия, ОБР</h4>
              <time datetime="15.10.2018 9:21">9:23</time>
            </div>
            <p>Вам необходимо перейти в раздел "Состояние Счета" и выбрать из списка интересующую вас карту. На открывшейся странице,
              вы можете отметить "галочками" виды топлива, которые нужно закрепить за данной картой.
            </p>
            <p>После этого нам будет отправлена заявка на изменение видов топлива.</p>
            <p>Заявки выполняются в течение 24 часов с момента поступления (в рабочие дни).</p>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-user-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>ООО "Золотой Дракон"</h4>
              <time datetime="15.10.2018 9:21">9:26</time>
            </div>
            <p>Заявку на бланке организации прикрепляю. Все верно?</p>
            <a href="#" class="link link--attached-file">Заявка на ГСМ Золтой Дракон (подписано).pdf</a>
          </div>
        </div>
        <div class="chat-message">
          <div class="chat-message-section">
            <div class="chat-message-thumbnail">
              <img src= "{{root}}assets/img/avatars/ava-manager-001.jpg">
            </div>
          </div>
          <div class="chat-message-section">
            <div class="chat-message-header">
              <h4>Анастасия, ОБР</h4>
              <time datetime="15.10.2018 9:21">9:23</time>
            </div>
            <p>Вам необходимо сделать заявку через раздел "Состояние счета".</p>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-track">
      <div class="chat-free">
        <div class="chat-bar"></div>
      </div>
    </div>
  </div>
  <textarea class="chat-message-field" name="message" rows="5" cols="40" placeholder="Текст сообщения"></textarea>
  <div class="chat-footer">
    <label for="exampleFileUpload" class="button button--icon button--attach-file clear secondary">
      <span>Прикрепить файл</span>
    </label>
    <input type="file" id="exampleFileUpload" class="show-for-sr">
    <button type="submit" class="button clear secondary">Отправить</button>
  </div>
</form>
