<header class="page-header">
  <div class="grid-container">
    <div class="page-header-inner">
      <div class="page-header-left">
        <a href="#" class="main-logo">
          <i class="main-logo-icon"></i>
          <span class="main-logo-text">АО «ННК-Приморнефтепродукт»</span>
        </a>
        <button class="page-header-burger" data-open-user-panel>
          <span></span>
        </button>
      </div>
      <div class="user-panel" data-closable>
        <div class="media-object media-object--header-user">
          <div class="media-object-section">
            <div class="thumbnail">
              <img src="{{root}}assets/img/avatars/ava-user-001.jpg">
            </div>
          </div>
          <div class="media-object-section">
            <a href="#" class="name">ООО "Золотой Дракон"</a>
          </div>
        </div>
        <div class="dropdown dropdown--contracts">
          <button class="button dropdown" type="button" data-toggle="user-dropdown">НК21/1 - 592</button>
          <div class="dropdown-pane" id="user-dropdown" data-dropdown data-auto-focus="true">
            <ul class="list">
              <li>НК21/1 - 592</li>
              <li>НК21/1 - 592</li>
              <li>НК21/1 - 592</li>
              <li>НК21/1 - 592</li>
            </ul>
          </div>
        </div>
        <ul class="main-nav" id="main-nav">
          <li class="main-nav-item">
            <a href="#account-state-tab" class="main-nav-link" data-tabs-target="account-state-tab">
              {{{ icon name="nav-account-state" }}}
              <span class="main-nav-text">Состояние счета</span>
            </a>
          </li>
          <li class="main-nav-item">
            <a href="#statement-tab" class="main-nav-link" data-tabs-target="statement-tab">
              {{{ icon name="nav-statements" }}}
              <span class="main-nav-text">Выписки</span>
            </a>
          </li>
          <li class="main-nav-item">
            <a href="#cost-tab" class="main-nav-link" data-tabs-target="cost-tab">
              {{{ icon name="nav-cost" }}}
              <span class="main-nav-text">Стоимость</span>
            </a>
          </li>
          <li class="main-nav-item">
            <a href="#messages-tab" class="main-nav-link" data-tabs-target="messages-tab">
              <span class="main-nav-badge" id="messageCount">1 </span>
              <span class="main-nav-text">Сообщения</span>
            </a>
          </li>
        </ul>
        <a href="#" class="user-panel-logout">Выйти</a>
        <button class="user-panel-close close-button" aria-label="Close user info" data-close-user-panel type="button">
           <span aria-hidden="true">&times;</span>
         </button>
      </div>
    </div>
  </div>
</header>
