<footer class="page-footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-8">
        <small>© АО «ННК-Приморнефтепродукт», 2009 - 2019</small>
        <small>Отдел безналичных расчетов:  +7 (423) 240-31-29, 240-31-80, cardsupport@primornp.ru</small>
      </div>
      <div class="page-footer-right cell large-4">
        <small class="page-footer-dev">
          {{{ icon name="websee-logo" }}}
          Разработка системы - WebSee
        </small>
      </div>
    </div>
  </div>
</footer>
