<header class="page-header">
  <div class="grid-container">
    <div class="page-header-inner">
      <div class="page-header-left">
        {{> main-logo}}
        <button class="page-header-burger" data-open-user-panel>
          <span></span>
        </button>
      </div>
      <div class="user-panel" data-closable>
        <div class="media-object media-object--header-user">
          <div class="media-object-section">
            <div class="thumbnail">
              <img src="{{root}}assets/img/avatars/ava-manager-001.jpg">
            </div>
          </div>
          <div class="media-object-section">
            <a href="#" class="name">Анастасия</a>
          </div>
        </div>
        <div class="main-nav">
          {{> main-nav-list-manager}}
        </div>
        <a href="#" class="user-panel-logout">Выйти</a>
        <button class="user-panel-close close-button" aria-label="Close user info" data-close-user-panel type="button">
           <span aria-hidden="true">&times;</span>
         </button>
      </div>
    </div>
  </div>
</header>
