<footer class="page-footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-8">
        <small>© АО «ННК-Приморнефтепродукт», 2009 - 2019</small>
        <small>Отдел безналичных расчетов:  +7 (423) 240-31-29, 240-31-80, cardsupport@primornp.ru</small>
      </div>
      <div class="page-footer-right cell medium-4">
        <a href="#" class="page-footer-dev">
          {{{ icon name="websee-logo" }}}
          <span>Разработка системы - WebSee</span>
        </a>
      </div>
    </div>
  </div>
</footer>
