<aside class="aside cell large-4">
  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">
      <li class="orbit-slide is-active">
        <figure class="banner">
          <img class="banner-image" src="{{root}}assets/img/content/image_01.jpg" alt="Image 1">
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="banner">
          <img class="banner-image" src="{{root}}assets/img/content/image_02.jpg" alt="Image 2">
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="banner">
          <img class="banner-image" src="{{root}}assets/img/content/image_03.jpg" alt="Image 3">
        </figure>
      </li>
    </ul>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0">
      </button>
      <button data-slide="1">
      </button>
      <button data-slide="2">
      </button>
    </nav>
  </div>
  <section class="page-section">
    <h2 class="page-section-title">Важная информация</h2>
    <article class="news-post">
      <h1 class="news-post-title">О порядке ценообразования</h1>
      <p class="text">С 1 ноября 2018 года отменены все скидки на нефтепродукты. Отпуск нефтепродуктов на АЗС осуществляется по ценам, указанным на стеле.</p>
      <a href="#" class="link link--arrow">Читать полностью</a>
    </article>
    <article class="news-post">
      <h1 class="news-post-title">Из правил безопасности на АЗС</h1>
      <p class="text">На основании требований нормативных документов на АЗС запрещается:</p>
      <ul class="list list--danger">
        <li>Выдача нефтепродуктов в пластиковую и стеклянную тару.</li>
        <li>Налив в автотестерны и бочки, установленные непосредственно на автомобилях.</li>
      </ul>
      <a href="#" class="link link--arrow">Читать полностью</a>
    </article>
  </section>
</aside>
