<div class="tabs-panel-header">
  <div class="grid-x">
    <div class="cell medium-6 tabs-panel-header-left">
      <span class="text">Просмотр и загрузка выписок и счетов.</span>
    </div>
    <div class="cell medium-6 tabs-panel-header-right">
      <span class="text">Актуальность данных</span>
      <button href="#" class="button button--update is-active">24.04.2019, 18:32</button>
    </div>
  </div>
</div>
<div class="tabs-panel-main">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <div class="card">
        <div class="card-devider">
          Выписки по картам
        </div>
        <div class="card-section">
          <table>
            <tr>
              <td>
                <span class="text">1 - 30 апреля 2019 г.</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">1 - 30 апреля 2019 г.</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">1 - 30 апреля 2019 г.</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="link">Предыдущие периоды</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="cell medium-6">
      <div class="card">
        <div class="card-devider">
          Выписки по Счету
        </div>
        <div class="card-section">
          <table>
            <tr>
              <td>
                <span class="text">1 - 30 апреля 2019 г.</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">1 - 30 апреля 2019 г.</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">1 - 30 апреля 2019 г.</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="link">Предыдущие периоды</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell medium-6">
      <div class="card">
        <div class="card-devider">
          Счета
        </div>
        <div class="card-section">
          <table>
            <tr>
              <td>
                <span class="text">Счёт № 39237/И</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">Счёт № 39236/И</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="text">Счёт № 39236/И</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="link">Предыдущие периоды</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
