.main-content-header {
  margin-bottom: 15px;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border-bottom: 1px solid $light-gray;

  @include breakpoint(medium) {
    margin-bottom: 20px;
  }

  &--no-border {
    padding-bottom: 0;
    border-bottom: none;
  }

  &-left {
    @include breakpoint(medium) {
      display: flex;
      align-items: center;
    }
  }

  &-right {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    // margin-top: 1rem;

    @include breakpoint(medium) {
      margin-top: 0;
      justify-content: flex-end;
    }
  }

  &-distribution {
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .text:nth-child(2) {
      margin-right: 1rem;

      @include breakpoint(medium) {
        margin-right: 0.5rem;
      }
    }
  }
}
