.media-object--header-user {
  margin-bottom: 0;

  .thumbnail {
    border: none;
    box-shadow: none;
  }

  .name {
    font-size: 13px;
    line-height: 25px;
    color: $medium-gray;
  }

  img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
}
