.select {
  font-size: 15px;
  line-height: 1;
  background-image: url("arrow-down");
  background-size: 12px 8px;

  &--no-margin-bottom {
    margin-bottom: 0;
  }

  &--width-275 {
    width: 275px;
  }
}
