{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js page" lang="en">
  {{> head}}
<body>
  <div class="page__inner">
    {{> page-header}}
    <main class="page-main">
      <div class="stretch-free-height grid-container">
        <div class="grid-x grid-margin-x">
          <div class="cell medium-12 large-8 stretch-free-height">
            <div class="main-nav main-nav--desktop">
              <a onclick="window.history.back()" class="main-nav-go-back">{{{ icon name="nav-account-state" }}}</a>
              {{> main-nav-list-client}}
            </div>
            {{> body}}
          </div>
          {{> sidebar}}
        </div>
      </div>
    </main>
    {{> page-footer}}
  </div>
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
