.text {
  font-family: $body-font-family;
  font-size: 13px;
  color: $black;

  &--icon {
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &--size-sm {
    font-size: 11px;
  }

  &--size-md {
    font-size: 15px; //15
  }

  &--align-sub {
    vertical-align: sub;
  }

  &--align-middle {
    vertical-align: -moz-middle-with-baseline;
  }

  &--bolder {
    font-weight: 500;
  }

  &--no-wrap {
    white-space: nowrap;
  }

  &--light {
    color: $medium-gray;
  }

  &--line-through {
    text-decoration: line-through;
    color: #9b9b9b;
  }

  &--currency {

    &::after {
      content: "₽";
      margin-left: 0.6rem;
      font-family: $body-font-family;
      color: #9b9b9b;
    }
  }

  &-oil {
    @extend .text;
    @extend .text--icon;
    padding-left: 2.8rem;

    &::before {
      left: -0.5rem;
      width: 24px;
      height: 24px;
      display: inline-block;
      background-repeat: no-repeat;
    }

    &--ge::before {
      background: url("oil-ge");
    }

    &--regular::before {
      background: url("oil-regular");
    }

    &--checkbox {
      padding-left: 2rem;
    }
  }

  &-status {
    @extend .text--icon;
    font-size: 15px;
    padding-left: 1.5rem;

    &::before {
      content: "";
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $light-gray;
    }

    &--active::before {
      background-color: map-get($foundation-palette, "success");
    }

    &--notice::before {
      background-color: map-get($foundation-palette, "warning");
    }

    &--blocked::before {
      background-color: map-get($foundation-palette, "alert");
    }

    &--closed::before {
      background-color: map-get($foundation-palette, "primary");
    }
  }

  &-card {
    @extend .text;
    @extend .text--icon;
    padding-left: 2.5rem;

    &::before {
      width: 24px;
      height: 24px;
    }

    &--active::before {
      background: url("card-active");
    }

    &--blocked::before {
      background: url("card-blocked");
    }

    &--arested::before {
      background: url("card-arested");
    }
  }

  &-statement,
  &-acc-statement,
  &-invoice {
    padding-left: 2.5rem;

    &::before {
      width: 22px;
      height: 22px;
    }
  }

  &-statement {

    &::before {
      background: url("statement");
    }
  }

  &-acc-statement {

    &::before {
      background: url("account-statement");
    }
  }

  &-invoice {

    &::before {
      background: url("invoice");
    }
  }
}
