.text {
  font-family: $body-font-family;
  font-size: 13px;
  color: $black;

  &--size-md {
    font-size: 15px;

  }

  &--sub {
    vertical-align: sub;
  }

  &--currency {

    &::after {
      content: "₽";
      margin-left: 0.6rem;
      font-family: $body-font-family;
      color: #9b9b9b;
    }
  }

  &--icon {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &--oil {
    padding-left: 2.8rem;

    &::before {
      left: -0.5rem;
      width: 24px;
      height: 24px;
      display: inline-block;
      background-repeat: no-repeat;
    }
  }

  &--oil.text--ge::before {
    background: url("oil-ge");
  }

  &--oil.text--regular::before {
    background: url("oil-regular");
  }

  &-status {
    font-size: 15px;
    padding-left: 1.5rem;

    &::before {
      content: "";
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $light-gray;
    }

    &--active::before {
      background-color: map-get($foundation-palette, "success");
    }
  }

  &-card {
    padding-left: 2.5rem;

    &--arested {
      text-decoration: line-through;
      color: #9b9b9b;
    }

    &::before {
      width: 24px;
      height: 24px;
    }

    &--active::before {
      background: url("card-active");
    }

    &--blocked::before {
      background: url("card-blocked");
    }

    &--arested::before {
      background: url("card-arested");
    }
  }

  &-statement,
  &-acc-statement,
  &-invoice {
    padding-left: 2.5rem;

    &::before {
      width: 22px;
      height: 22px;
    }
  }

  &-statement {

    &::before {
      background: url("statement");
    }
  }

  &-acc-statement {

    &::before {
      background: url("account-statement");
    }
  }

  &-invoice {

    &::before {
      background: url("invoice");
    }
  }
}
